<a href="https://colab.research.google.com/github/cloeji/pythonbasicclass/blob/main/Python_Basic_Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list tuple dict set

# list []   indexing/slicing가능  mutable(del,ins(인서트))   원소가 하나여도 쉼표 붙이지 않아도 됨 [1]
# tuple ()  indexing/slicing가능  immutable()       원소를 하나로 만들때는 반드시 쉼표 붙여야 한다 (1,)
# dict  {}   X(unordered)         mutable(del,ins)                                                 {'key':'value'}
# set   {}   x(unordered)         mutable(del,ins)                                                 {1,2,3}

In [ ]:
# page049 문제풀이

In [20]:
# 1번
no = '31025'
a = no[0]  #인덱싱
b = no[1:3]  #슬라이싱
c = no[3:]   #슬라이싱
print(a,'학년',b,'반',c,'번')  #쉼표로 붙여준다
print(f'{a} 학년 {b} 반 {c} 번')  #f스트링

3 학년 10 반 25 번
3 학년 10 반 25 번

In [34]:
# 2qjs

no = '서울2가1234'
no4 = no[-4:]
print(no4)
print(no, '의 차량번호 4자리는', no4 ,'입니다.')
print(f'{no} 의 차량번호 4자리는 {no4} 입니다.' )

1234
서울2가1234 의 차량번호 4자리는 1234 입니다.
서울2가1234 의 차량번호 4자리는 1234 입니다.

In [48]:
#3번

s = 'maple' #가운데 p출력
center = len(s) // 2    #//(슬래쉬 2개)는 나머지를 버리고 몫만 취한다. /(슬래쉬1개)는 몫만 취한다.
center2 = len(s) % 2   # % 는 몫은 버리고 나머지만 취한다.(홀수 짝수 배수를 알아낼 수 있다)
print(center)
print(center2)
center0=s[len(s)//2]
print(f'{s}의 가운데 글자는 {center0}입니다.')
print(s,'의 가운데 글자는', center0,'입니다')

2
1
maple의 가운데 글자는 p입니다.
maple 의 가운데 글자는 p 입니다

In [63]:
#4번

li2 = [10,20,30,40,50,60,70,80,90,100]
print('3번째 요소부터 7번째 요소 =' , li2[2:7])
print('3번째 요소부터 7번째 요소 중 2번째 요소 =',li2[2:7][1])

3번째 요소부터 7번째 요소 = [30, 40, 50, 60, 70]
3번째 요소부터 7번째 요소 중 2번째 요소 = 40

In [71]:
#5번

dict = {'금요일':'탕수육',
        '토요일':'유산슬',
        '일요일':'팔보채'}
print('금요일 :', dict['금요일'])
print('토요일 :', dict['토요일'])
print('일요일 :', dict['일요일'])

금요일 : 탕수육
토요일 : 유산슬
일요일 : 팔보채

In [84]:
# page 52

# \ 따옴표의 기능을 무력화하고 글자로 표현
# \n 줄바꿈 line feed
# \t 탭     TabError

print('Hello \'World\'')  #작은 따옴표 앞에 \를 쓰면 글자화된다
print("Hello 'World'")    #작은 따옴표를 에러나지 않고 사용하고 싶으면 바깥의 문자를 큰따옴표를 사용하면 되긴 한다

print("Hello \"World\"")
print('Hello "World"')

print('*\n**\n***')   
print('Hello\nWorld')

print('이름\t연락처')
print('제시카\t01-123-4567')
print('마틴\t010-6789-7890')

Hello 'World'
Hello 'World'
Hello "World"
Hello "World"
*
**
***
Hello
World
이름	연락처
제시카	01-123-4567
마틴	010-6789-7890

In [90]:
# page54

# print() 함수

print('재미있는', '파이썬')
print('재미있는 파이썬')
print('재미있는', '파이썬', sep=',')    #구분자 --> 쉼표로 항목을 구분하라(기본은 그냥 띄어쓰기이지만, sep을 통해 구분자 설정 가능)
print('재미있는', '파이썬', sep='/') 
print('재미있는', '파이썬', sep=':')

재미있는 파이썬
재미있는 파이썬
재미있는,파이썬
재미있는/파이썬
재미있는:파이썬

In [96]:
print('영화 타이타닉')
print('평점', end=':')
print('5점')

print('평점')
print('5점')    #end를 넣으면 옆에다가 값을 출력

print('평점', end='')
print('5점')

영화 타이타닉
평점:5점
평점
5점
평점5점

In [103]:
# page 56

# % 연산자(비추)
# 비추지만 꼭 써야할때도 있음(page57)

print('%d' % 10)  #%d는 정수 10진수 자리표시자
print('%o' % 10)  #%o는 정수 8진수 자리표시자
print('%x' % 10)  #%x는 정수 16진수 자리표시자

print('%f' % 3.14) 
print('%d' % 3.14)
print('%s' % 'python')  #%s가 제일 편하다, 그냥 %s로 쓰면 된다  하지만 %연산자 자체가 너무 귀찮음(정답은 f스트링이다)
print('%s' % '3.14')

10
12
a
3.140000
3
python
3.14

In [110]:
print('%5d' % 1)  #다섯 칸을 확보하고 오른쪽부터 출력
print('%d' % 1)
print('%5d' % 11)
print('%5d' % 1111)

    1
1
   11
 1111

In [112]:
print('%-5d' % 11)  #다섯 칸을 확보하고 왼쪽부터 출력
print('%-5d' % 1)

# ##인쇄영역 확보의 의미##

11
1

In [116]:
print('%5.2f' % 3.14)  #다섯 칸을 확보하고 소수 두자리까지 오른쪽부터 실수 출력
print('%5.1f' % 3.14)  #다섯 칸을 확보하고 소수 한자리까지 오른쪽부터 실수 출력

 3.14
  3.1

In [118]:
print('%-5.2f' % 3.14)  #다섯 칸을 확보하고 소수 두자리까지 왼쪽부터 실수 출력
print('%-5.1f' % 3.14)  #다섯 칸을 확보하고 소수 한자리까지 왼쪽부터 실수 출력

3.14
3.1

In [121]:
print('%.2f' % 3.14)   #소수 두자리까지 실수 출력
print('%.1f' % 3.14)  #소수 한자리까지 실수 출력

3.14
3.1

In [123]:
print('%s' % 3.14) #s(스트링)이 제일 편하다

3.14

In [132]:
# 기본 출력 방법
a='학생'
print(a,'입니다.')

# f string 출력 방법
print(f'{a} 입니다.')

# %연산자 출력 방법
print('%s 입니다.' % a)

# format() 출력 방법
print('{} 입니다.'.format(a))

##기본 출력 방법과 f string이 제일 편하다##

학생 입니다.
학생 입니다.
학생 입니다.
학생 입니다.

In [134]:
# format() 매서드

print('My name is {}' .format('James'))

My name is James

In [135]:
print('My name is {0}' .format('James'))  #위치 지정(0번째 자리에 넣어라)

My name is James

In [136]:
print('My name is {name}' .format(name='James')) #변수명을 줘서 넣을수도 있음

My name is James

In [140]:
print('My name is {}. I\'m {} years old.' .format('James',20))

My name is James. I'm 20 years old.

In [141]:
print('My name is {1}. I\'m {0} years old.' .format('James',20))  #넘버링을 통해 뒤집어 넣을 수도 있음

My name is 20. I'm James years old.

In [142]:
print('My name is {name}. I\'m {age} years old.'.format(name='James', age=20))

My name is James. I'm 20 years old.

In [144]:
# f-strings (page 61) (강추)

who = 'you'
how = 'happy'

print(f'{who} make me {how}')

you make me happy

In [146]:
age = 25
print(f'내년엔 {age+1}살이 됩니다.')  #다른 출력 방법은 안에서 계산이 불가하지만, f-strings는 가능하다는 아주 큰 장점이 있다.

내년엔 26살이 됩니다.

In [148]:
# 표준 입력

a = input()  #아래에서 입력
print(a)

asd
asd

In [152]:
n = input('정수를 입력하세요 : ')
print(n)

정수를 입력하세요 : 24세
24세

In [167]:
name = input('이름을 입력하세요>>>')
age = input('나이를 입력하세요>>>')
print(f'입력된 이름은 {name}입니다.')
print(f'입력된 나이는 {age}입니다.')

이름을 입력하세요>>>홍길동
나이를 입력하세요>>>30
입력된 이름은 홍길동입니다.
입력된 나이는 30입니다.

In [169]:
name = input('이름을 입력하세요>>>')
age = input('나이를 입력하세요>>>')


print('입력된 이름은', name,'입니다')
print('입력된 나이는',age,'입니다.' )

이름을 입력하세요>>>홍길동
나이를 입력하세요>>>30
입력된 이름은 홍길동 입니다
입력된 나이는 30 입니다.

In [163]:
name = input('이름을 입력하세요>>>')
age = input('나이를 입력하세요>>>')

print('입력된 이름은 {}입니다' .format(name))
print('입력된 나이는 {}입니다.' .format(age) )

이름을 입력하세요>>>홍길동
나이를 입력하세요>>>30
입력된 이름은 홍길동입니다
입력된 나이는 30입니다.

In [165]:
name = input('이름을 입력하세요>>>')
age = input('나이를 입력하세요>>>')

print('입력된 이름은 %s입니다' % name)
print('입력된 나이는 %s입니다.'% age)

이름을 입력하세요>>>홍길동
나이를 입력하세요>>>30
입력된 이름은 홍길동입니다
입력된 나이는 30입니다.