<a href="https://colab.research.google.com/github/cloeji/pythonbasicclass/blob/main/Python_Basic_Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 형 변환 (page 64)

# input() 함수를 사용할 때 주의할 점
# input()은 모든 입력을  str(문자열)로 저장한다는 점이다.
# 따라서 숫자를 입력해도 문자로 받아들인다.

n = input('정수를 입력하세요>>>')
print(type(n))

정수를 입력하세요>>>12
<class 'str'>

In [2]:
n = int(input('정수를 입력하세요>>>'))  #형변환이 필요하다=casting
print(type(n))

정수를 입력하세요>>>12
<class 'int'>

In [3]:
price = 50000
n = int(input('할부 개월 입력 >>>'))
print('매달 내는 돈은 {}입니다.' .format(price/n))

할부 개월 입력 >>>10
매달 내는 돈은 5000.0입니다.

In [6]:
# 1번
a = float(input('첫 번째 실수를 입력하세요>>>'))
b = float(input('두 번째 실수를 입력하세요>>>'))
print(f'{a}와 {b}의 합은 {a+b} 입니다.')

첫 번째 실수를 입력하세요>>>1.23
두 번째 실수를 입력하세요>>>2.34
1.23와 2.34의 합은 3.57 입니다.

In [8]:
#형변환을 하지 않았을 때의 오류! 숫자 입력할 때는 형변환이 필수이다.
a = input('첫 번째 실수를 입력하세요>>>')
b = input('두 번째 실수를 입력하세요>>>')
print(f'{a}와 {b}의 합은 {a+b} 입니다.')

첫 번째 실수를 입력하세요>>>1
두 번째 실수를 입력하세요>>>2
1와 2의 합은 12 입니다.

In [11]:
# 2번
a = int(input('1~12 사이의 월을 입력하세요>>>'))
b = {1:31, 2:28, 3:31, 4:30, 5:31, 6:30, 7:31, 8:31, 9:30, 10:31, 11:30, 12:31}
print(f'{a}월은 {b[a]}까지 있습니다')

1~12 사이의 월을 입력하세요>>>2
2월은 28까지 있습니다

In [28]:
# 2번

month = (31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31)

d = int(input('1~12 사이의 월을 입력하세요>>>'))

print(f'{d}월은 {month[d-1]}일까지 있습니다')

1~12 사이의 월을 입력하세요>>>2
2월은 28일까지 있습니다

In [21]:
#3번
english_dict = {
    'flower':'꽃',
    'fly':'날다',
    'floor':'바닥'
}

a = input('영어 단어를 입력하세요>>>')
print(f'{a}:{english_dict[a]}')

영어 단어를 입력하세요>>>flower
flower:꽃

In [ ]:
# 4번은 혼자 풀어보기

In [31]:
#연산자와 우선순위(page 70)

# 복합 대입 연산자(page 74)
a = 1
print(a)
a = a + 1   # a +=1 #둘 다 자기 자신에 1을 증가함을 의미 #java 에서는  a++도 같은 의미(파이썬은 a++은 미사용)
print(a)
a += 1  
print(a)
a = a - 1   #자기 자신에 1을 감소함을 의미
print(a)
a -= 1   #자기 자신에 1을 감소함을 의미
print(a)

1
2
3
2
1

In [33]:
# 예제(파이썬은 값을 교환하는게 가능하다)
a,b = 10, 20
print('a= %d, b = %d' %(a,b))

a,b = b, a
print('a= %d, b = %d' %(a,b))

a= 10, b = 20
a= 20, b = 10

In [35]:
# 예제_번외
# 다른 언어에서 값을 바꾸고 싶다면(다른 언어는 값을 교환하는게 어렵다)

a = 10
b = 20

t = a
a = b
b = t
print('a=%d, b=%d' % (a,b))

a=20, b=10

In [ ]:
#기본 예제는 숙제

In [36]:
1==1

True

In [37]:
1!=1 #사실 같이않다의 세계 표준은 <>, 파이썬만 != 사용

False

In [39]:
# 시퀀스 연산자 : 순서가 있는 구조 시퀀스(리스트, 튜플, 문자열, range)에서 사용된다.

[1,3,5] + [2,4,6]

[1, 3, 5, 2, 4, 6]

In [43]:
'hello' + ' '+'python'

'hello python'

In [44]:
[1,3,5]*2

[1, 3, 5, 1, 3, 5]

In [47]:
'*'*20

'********************'

In [48]:
'-'*50

'--------------------------------------------------'

In [49]:
# 멤버쉽 연산자
5 in [1,2,3,4,5]

True

In [50]:
5 not in [1,2,3,4,5]

False

In [51]:
'a' in 'apple'

True

In [52]:
'a' in {'a':'apple', 'b':'banana'}  #unordered 한 딕셔너리에서도 사용 가능해서 유용

True

In [59]:
# 응용 예제(page 85)

#1번
no = input('10~99 사이의 정수를 입력하세요>>>')
print(f'십의 자리 : {no[0]}')
print(f'일의 자리:  {no[1]}')

10~99 사이의 정수를 입력하세요>>>45
십의 자리 : 4
일의 자리:  5

In [61]:
no = int(input('10~99 사이의 정수를 입력하세요>>>'))
print(f'십의 자리 : {no//10}')
print(f'일의 자리:  {no%10}')

10~99 사이의 정수를 입력하세요>>>45
십의 자리 : 4
일의 자리:  5

In [83]:
#2번

# cho = int(input('초를 입력하세요>>>'))
# print(f'변환 결과는 {sec//60**2}시간 {sec//60}분 {sec%60}입니다')

cho = 3690
# 1시간 = 60분 = 1 * 60 * 60 초 = 3600 초
hour = 3690 // 3600           #1시간
minute = 3690 % 3600  // 60   #1분
second = cho % 60
print(hour)
print(minute)
print(second)

1
1
30

In [85]:
cho = int(input('초를 입력하세요>>>'))
print(f'변환 결과는 {cho//3600}시간 {cho%3600//60}분 {cho%60}초 입니다')

초를 입력하세요>>>3690
변환 결과는 1시간 1분 30초 입니다

In [86]:
#3번

no = int(input('4자리 사원번호를 입력하세요>>>'))

no_1 = no % 10
if no_1 >= 5:
  print('근무시간은 오전입니다')
else:
  print('근무시간은 오후입니다')

4자리 사원번호를 입력하세요>>>1255
근무시간은 오전입니다

In [88]:
#조건문 IF (page 90)
#조건문은 특정 조건을 만족하는지의 여부에 따라 실행되는 코드가 달라져야 할때 사용

a = 0
if a > 0:
  print('양수')   #조건에 맞지 않으면 실행 되지 않는다.