<a href="https://colab.research.google.com/github/cloeji/pythonbasicclass/blob/main/Python_Basic_Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 3 기본 자료형 (page 33)

int 정수   1,2,3,4
float 실수 3.14, 2.18
bool 논리 True,  False
str 문자열 '홍길동', '슈가'  (스트링이라고 읽는다)


int a = 10;  형을 선언해야하는 자바  파이썬은  int  인지  float인지 선언할 필요 없다
a=10

In [1]:
#1. 정수 int

 #(실수를 정수로 감싼다면)
int(1.9)

1

In [2]:
int(True)

# true는 숫자로 1 false 는 숫자로 0

1

In [3]:
int(False)

0

In [7]:
int('100')  
int("200")
#따옴표가 붙어있으면 숫자처럼 보이지만 문자다.(문자는 계산 불가) ->  int 로 감싸면 숫자가 된다(계산이 가능해진다)
# int () 괄호안에 숫자처럼 보이는 문자를 넣어주면 진짜 숫자로 변환된다.

200

In [8]:
# 2. 실수 float

float(1)
#결국 값은 같지만 형태를 바꿈

1.0

In [9]:
float(True)

1.0

In [10]:
float(False)

0.0

In [11]:
float('3.14')

#문자에서 진짜 실수로 변화->계산이 가능해짐

3.14

In [12]:
input('숫자를 입력하세요>>>') #input 은 모든 입력을 문자로만 받는다.

숫자를 입력하세요>>>123

'123'

In [13]:
int(input('숫자를 입력하세요>>>'))

숫자를 입력하세요>>>123

123

In [14]:
#논리 bool , boolean    True or False 만 들어갈수 있다

bool(0)

False

In [15]:
bool(1)

True

In [17]:
bool('')

False

In [18]:
bool('1')

True

In [19]:
bool([])  #리스트 안에도 아무것도 없으면  false  뭐라도 있으면  true

False

In [20]:
bool([1,2,3])

True

In [29]:
# 4 문자열   str , string

a = '한국'
b = "한국"    #파이썬에서는 작은 따옴표, 큰 따옴표가 완전히 같은 의미

a = '대한\n민국'   # docstring 에외에도 여러물 문자 표현하는 방법
print(a)

# 35페이지 하단의  docstring  -> 여러줄 문자에 사용
a='''대한
민국'''
b="""대한
민국"""


print(a)

대한
민국
대한
민국

In [30]:
str(100)
# ->숫자를 문자로 만든다

'100'

In [32]:
 str(True)
#  진짜 글자

'True'

In [33]:
str(False)

'False'

In [34]:
str(3.14)

'3.14'

In [36]:
# 문자열 인덱싱 (Indexing)
# 인덱싱은 문자열을 구성하는 모든 문자에 부여한 고유의 번호이다. 

s = 'hello'
print(s[0])  
#인덱스의 시작은 0이다(컴퓨터는 0부터 시작한다(R과 SQL은 1에서 시작, 그러나 대부분의 언어는 0에서 시작한다))
# h e l l o
# 0 1 2 3 4  각 문자의 인덱스 번호

#인덱싱할때의 대괄호랑 리스트의 대괄호는 사용법이 다른거임

h

In [37]:
#  h  e  l  l  o
          # -1(마지막 글자가 -1로도 지정이 된다 )
# -5 -4 -3 -2 -1        

s='hello'
print(s[-1])

o

In [39]:
# 문자열 스라이싱 slicing
# 문자열의 인덱스를 사용하여 한 문자 이상으로 구성된 단어나 문장을 추출

s = 'banana'
s[0:3]   #[start:stop] # stop은 까지가 아닌 미만으로 계산한다

'ban'

In [40]:
addr = '서울시 강남구 역삼동 1번지'
print(addr[4:7])  #띄어쓰기도 인덱스 넘버에 포함,

강남구

In [ ]:
#04 컬렉션 Collection (39페이지)
# '여러 값을 하나의 이름으로 묶어서 관리하는 자료형'
# 리스트list 튜플tuple 딕셔너리dict 셋set (총 4가지)

In [42]:
# 리스트 list
# 리스트는 여러 값을 저장할 때 가장 많이 사용되는 자료형이다.
# 특징
# 1. 대괄호로 생성한다. []
# 2. 여러가지 자료형을 하나의 리스트로 생성할 수 있다(과연...장점일까?)
# 3. mutable 한 속성을 갖는다.(수정, 삭제가 가능하다)   <>  튜플은 수정이 불가하여 가급적 리스트를 사용하는 것이 낫다
# 4. indexing, slicing 이 가능하다. <> 튜플도 가능함!, 셋은 불가, 딕셔너리는 수정이 가능하지만 인덱싱 슬라이싱이 불가

In [41]:
list1 = [1,2,3,4]
list2 = [1,2,3,'대', '한', True]   #숫자와 문자와 bool을 섞어서 만들 수 있다(다른 언어는 섞지 못하게 한다)->그러나 섞어쓰면 에러날 확률이 높다

In [45]:
li = [100, 3.14, 'hello']

li[2]  #li라는 리스트에서 2번째 (1번째는 3.14  0번째 100)

'hello'

In [50]:
li = [100, 3.14, 'hello']
li[0:]   #[start: stop(미만)] ->생략하면 맨 처음 혹인 맨 끝

[100, 3.14, 'hello']

In [59]:
#append()- 리스트에 데이터를 추가
#*한번 만들어도 수정이 가능하다(append)
scores = [50,40,30]
scores.append(100) 
scores
# 여기서의 소괄호는 값을 추가할때 사용하는 ()  

#append 는 매우매우 중요


# scores2 = (50,40,30) #튜플을 만들때는 () 소괄호를 사용한다  ->  소괄호의 사용법이 다름/딕셔너리와 셋은 중괄호 사용

[50, 40, 30, 100]

In [60]:
# insert()- 리스트에 데이터를 추가
scores.insert(0,90)  #특정 위치에 데이터를 추가
scores

[90, 50, 40, 30, 100]

In [62]:
# pop()- 리스트에서 데이터를 삭제
scores = [50,40,30]
scores.pop()  #pop() 괄호 안 생략하면 마지막 값을 삭제
scores

[50, 40]

In [63]:
scores.pop(0)
scores

[40]

In [65]:
# 튜플 tuple
# 저장된 값을 변경할 수 없는 리스트

# 특징
# 1. 소괄호로 생성한다. ()   튜플은 괄호 생략 가능하다
# 2. 여러가지 자료형을 하나의 튜플로 생성할 수 있다(과연...장점일까?)
# 3. immutable 한 속성을 갖는다.(수정, 삭제가 불가능하다)   
# 4. indexing, slicing 이 가능하다. 
# 5. 1개의 원소를 갖는 튜풀을 생성할 때는 , 쉼표를 붙인다.  ->1개짜리를 쉼표 없이 하면 그냥 int로 인식! 튜플이 아니다

li=[1]
print(li)
print(type(li))  #얘의 자료형이 뭔지 알려달라는 수식

[1]
<class 'list'>

In [68]:
tu = (1)
print(tu)
print(type(tu))

1
<class 'int'>

In [69]:
tu = (1,)
print(tu)
print(type(tu))

(1,)
<class 'tuple'>

In [79]:
tuple = 1,2,3,4,5
type(tu)

tuple

In [71]:
tu.appent(6)

AttributeError: ignored

In [72]:
tu.pop()

AttributeError: ignored

In [76]:
tu = 1,2,3,4,5
tu[0]

1

In [77]:
tu[0:3]

(1, 2, 3)

In [82]:
# Set 셋  -  사용 빈도가 가장 낮다 <>가장 높은 것은 list

# 특징
# 1. 중괄호로 생성한다. {} 
# 2. 여러가지 자료형을 하나의 셋으로 생성할 수 있다(과연...장점일까?)
# 3. mutable 한 속성을 갖는다.(수정, 삭제가 불가능하다)   
# 4. indexing, slicing 이 불가능하다. 순서가 없다 (unorder)
# 5. 중복된 데이터를 함께 저장할 수 없다. (중복 불가능)
 
set = {1,1,1,2,3}  #중복된 1을 날려보냄
set

{1, 2, 3}

In [84]:
set.add(4)  #append가 아닌 add 사용
set

{1, 2, 3, 4}

In [85]:
set.remove(3)   #pop이 아닌 remove 사용
set

{1, 2, 4}

In [87]:
# Dict 딕셔너리 키값과 밸류값의 쌍으로 데이터를 저장하는 자료형
# 자바에서의 map, JS에서의 json  과 유사한 파이썬의 자료형

# 특징
# 1. (dict도 셋과 마찬가지로) 중괄호로 생성한다. {}
# 2. 여러가지 자료형을 하나의 딕셔너리로 생성할 수 있다(과연...장점일까?)
# 3. mutable 한 속성을 갖는다.(수정, 삭제가 불가능하다)   
# 4. indexing, slicing 이 불가능하다. 순서가 없다 (unorder)
# 5. 키와 밸류로 구성한다.


d = {'a':'apple', 'b':'banana'}
d['a']  #인덱스 값이 아닌 키값을 넣으면 해당 키값에 대한 밸류값을 뽑아낸다

'apple'

In [88]:
#추가
d['c'] = 'cherry'
d   #단 이때 순서는 없어서, a - c - b의 순서로 나올 수도 있다. 아래처럼  a-b-c순서가 나온 것은 우연의 일치

{'a': 'apple', 'b': 'banana', 'c': 'cherry'}

In [89]:
#수정
d['c'] = '체리'
d

{'a': 'apple', 'b': 'banana', 'c': '체리'}

In [108]:
d = {'a': 'apple', 'b': 'banana', 'c': '체리'}
d.pop('c')
d

{'a': 'apple', 'b': 'banana'}

In [102]:
#  mutable: 리스트 셋 딕셔너리
#  immutable: 듀플 (정수 실수 문자열)


#mutable
me = [1,2,3]
id(me)  #실제 데이터가 저장된 메모리 위치

140373999084240

In [103]:
me.append(4)
id(me) #메모리의 실제 주소가 바뀌지 않았다(이게 mutable 하다)

140373999084240

In [105]:
#immutable
me = 10
id(me)

93999777782560

In [109]:
me +=1   #me = me + 1 (자기 자신을 하나 증가해서 자기가 된다)  
id(me)  #메모리의 주소가 바뀐 것을 알수 있다(이게 immutable 하다)

93999777782592